* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    width: 100vw;
    height: 100vh;
    background-color: red;
}
img#ocean1 {
    width: 480px;
    height: auto;
}
div#div1 {
    background-color: black;
    padding: 20px;
}